/*fuentes*/
@import "https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap";
@import "https://fonts.googleapis.com/css?family=Montserrat&display=swap";
/* variables */
/*las variables css se declaran con dos guines e igualando aun valor*/
:root {

  /* colores */
  --color-black: #0000;
  --color-white: #FFFFFF;
  --color-1: #459210;
  --color-2: red;
  --color-link:orange;
  --color-hover:blue;

  /*espaciados*/
  --margin-1:8px;
  --margin-2:16px;
  --margin-3:32px;
  --padding-1:8px;
  --padding-2:16px;
  --padding-3:32px;

  /*bordes*/
  --border-radius:5px;

  /*fuentes*/
  --font-title:"Noto Sans HK", sans-serif;
  --font-content:"Montserrat";
}

/*genenral*/
*{/*wireframe*/
  outline: 1px solid lime;
}
body{
  font-family: var(--font-content);
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-title);
}

div {
  height: 100%;
}
a{
  color: var(--color-link);
}
a:hover {
  color: var(--color-hover);
}
/*header*/
header {
  min-height: 80px;
}

header figure img {
  height: 80px;
  width: auto;

}
/*index*/
#index {
  height: 66vh;
}

#index row{
  position: relative;
}

.index-img {
  position: absolute;
  height: 66vh;
  width: 100%;
}

.index-img img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.index-img img {
  height: 100%;
  width: 100%;
}

/*reset*/
.ha {
height: auto;
}
